<!doctype html>
<html class="no-js" lang="pt-br">

<head prefix="og://ogp.me/ns# fb://ogp.me/ns/fb#">


    <!-- Google Optimize -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Colocar seu negócio na internet pode ser fácil, acredite! | anyloja</title>
    <meta name="description" content="Somos a criadora de lojas para seu negócio que você pode confiar. Perfeito para as necessidades atuais de pequenos e medios empreendedores que querem começar a vender pela internet.">
    <meta name="facebook-domain-verification" content="">

    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="manifest" href="//assets.umbler.com/site/favicons/manifest.json?v=20210401104314">
    <link rel="canonical" href="https://umbler.com/br">
    <meta name="msapplication-TileColor" content="#f7faff">
    <meta name="msapplication-TileImage" content="//assets.umbler.com/site/favicons/ms-icon-310x310.png?v=20210401104314">
    <meta name="theme-color" content="#557cf2">

    <meta property="og:title" content="Hospedar seu site pode ser fácil, acredite! | Umbler">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://umbler.com/br">
    <meta property="og:site_name" content="Umbler">
    <meta property="og:image" content="assets/img/social-img-og.png">
    <meta property="og:description" content="Somos a hospedagem de sites e aplicações que você pode confiar. Perfeito para as necessidades atuais das agências, desenvolvedores e empreendedores.">
    <meta name="twitter:title" content="Hospedar seu site pode ser fácil, acredite! | Umbler">
    <meta name="twitter:description" content="Somos a hospedagem de sites e aplicações que você pode confiar. Perfeito para as necessidades atuais das agências, desenvolvedores e empreendedores.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@umbler">
    <meta name="twitter:domain" content="//umbler.com">
    <meta name="twitter:image" content="//assets.umbler.com/site/social/twitter-card-img.png?v=20210401104314">
    <meta name="google-site-verification" content="zBrdEhLfjN4UBUqv0GNci8ZRKHYz8KCAmBfAagc0mOM">
    <meta name="msvalidate.01" content="48DBE3EAC56FD4CF47B846B080915981">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;600;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets.site/css/theme.min.css">
    <link rel="stylesheet" href="/assets.site/css/main.css">

</head>

<body class="is-mobile page-home">



    <div class="wrapper">

        <nav id="menu" class="navbar navbar-default navbar-fixed-top navbar-toggleable-xl  " role="navigation">
            <div class="navbar-header">
                <img src="/assets.site/images/logo-v4.svg" style="height: 32px;"> <span class="logo">anyloja</span>
                <a id="toogle-menu-mobile" href="#menu-mobile" class="d-block ml-auto hidden-xl-up"><span
                        class="icon icon-nav-drawer icon-4x"></span></a>
            </div>



            <div class="collapse navbar-collapse pos-relative flex-xs-middle w-100">
                <ul class="nav navbar-nav navbar-right pos-absolute m-0 z-index-top">
                    <li>
                        <a href="https://app.umbler.com" target="_blank" rel="nofollow" class="btn btn-link btn-login">
                            Entrar
                        </a>
                    </li>
                    <li>
                        <a href="https://app.umbler.com/account/register" class="btn btn-primary btn-cta" role="button" target="_blank">
                            Experimente grátis
                        </a>
                    </li>
                </ul>
            </div>
        </nav>




        <script src="/assets.site/js/parallax.min.js"></script>

        <header class="pb-lg-5 overflow-hidden pos-relative">
            <div class="container flex-xs flex-xs-center">
                <div class="pt-3 pt-lg-5 text-xs-center mb-4">
                    <div class="row text-xs-center">
                        <div class="col-xxl-11 float-xs-none mx-auto">
                            <h1 class="h3 h1-md display-xl-4 mb-4">
                                <span class="display-lg-3 display-xxl-2">Com a <span
                                        class="text-primary">anyloja</span> você vai conseguir colocar seu negócio online.
                                </span>
                            </h1>
                        </div>
                        <div class="col-xxl-8 float-xs-none mx-auto mb-5">
                            <p class="h5 h4-lg font-normal text-gray px-xxl-2">Deixamos o que é velho e sem sentido no passado, criando um jeito fácil e totalmente novo de vender pela internet!</p>
                        </div>
                    </div>
                    <a href="https://app.umbler.com/account/register" id="cta-header-email-profissional" class="btn btn-primary btn-lg px-3 mb-2">Assista nossos Stories</a>


                </div>
                <div class="dashboard-box pos-relative">
                    <div id="features-boxes" class="pos-absolute w-100 h-100">

                        <div class="layer pos-absolute w-100 h-100" data-depth="0.3">
                            <img src="/assets.umbler.com/site/home/2021/header-box-letsencrypt.svg?v=20210401104314" class="img-letsencrypt img-fluid pos-absolute hidden-md-down">
                        </div>
                    </div>

                    <div class="app-blur flex-inline-xs flex-xs-center mb-4 mb-lg-0 p-2 p-md-4 pos-relative">
                        <img src="/assets.site/img/header-app-dashboard.png?v=20210401104314" class="img-dashboard img-fluid">
                        <img src="/assets.site/img/header-dart.svg?v=20210401104314" class="img-dart img-fluid pos-absolute hidden-md-down">
                    </div>
                </div>
            </div>
        </header>
        <section class="section-partner bg-primary">
            <div class="container pb-5">
                <div class="row py-3 text-xs-center">
                    <h1 class="h3 h1-md display-xl-4 mb-4">
                        <span class="display-lg-3 text-white">A plataforma parceira<br class="hidden-md-down"> de
                            verdade <img src="//assets.umbler.com/site/home/2021/partner-icon-heart.png"
                                class="partner-icon-heart"></span>
                    </h1>
                    <div class="col-xxl-8 float-xs-none mx-auto mb-lg-4">
                        <p class="h5 h4-lg font-light text-white px-xxl-2">anyloja é parceira de verdade, resolve os desafios do seu negócio com as soluções simples que você precisa.</p>
                    </div>
                </div>
                <div class="row text-xs-center pb-xl-4">
                    <div class="col-lg-4">
                        <div class="p-3 flex-xs flex-xs-middle flex-xs-col">
                            <div class="img-partner-icon flex-xs flex-xs-center flex-xs-middle">
                                <img src="/assets.site/img/partner-icon-baloon.svg">
                            </div>
                            <h3 class="h4 text-white">Trabalhamos para você</h3>
                            <p class="text-white">Antes de pensar em tecnologia, olhamos para o cliente e entendemos o que você precisa. Criando uma experiência genial, fácil e humanizada.</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="p-3 flex-xs flex-xs-middle flex-xs-col">
                            <div class="img-partner-icon flex-xs flex-xs-center flex-xs-middle">
                                <img src="/assets.site/img/partner-icon-control.svg">
                            </div>
                            <h3 class="h4 text-white">Você no controle</h3>
                            <p class="text-white">Sem planos com amarras, sem taxas escondidas e com o preço mais honesto e transparente que você vai encontrar. Aqui é o cliente quem está no controle para escolher o quanto vai gastar.</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="p-3 flex-xs flex-xs-middle flex-xs-col">
                            <div class="img-partner-icon flex-xs flex-xs-center flex-xs-middle">
                                <img src="/assets.site/img/partner-icon-relationship.svg">
                            </div>
                            <h3 class="h4 text-white">Relacionamento</h3>
                            <p class="text-white">Na Umbler você encontra um time de pessoas diferentes, que vestem a camisa para fazer o que mais importa acontecer: o seu sucesso.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-timeline pos-relative">
            <div class="container pos-relative">
                <div class="row py-3 pt-lg-5 text-xs-center">
                    <h1 class="h3 pt-3 pt-lg-5 h1-md display-xl-4 mb-lg-4 pb-5">
                        <span class="display-lg-3 text-white">Deixamos o que é velho<br class="hidden-md-down"> e sem
                            sentido no passado</span>
                    </h1>
                    <div class="timeline pos-relative">
                        <div class="purple-img hidden-md-down mb-5">
                            <img data-src="//assets.umbler.com/site/home/2021/past-image-purple.svg?v=20210401104314">
                        </div>
                        <div class="pos-relative timeline-text purple-text text-xs-left pl-5 pl-lg-0 pb-4 pb-lg-5">
                            <p class="h3 text-white mb-3"><span class="text-purple">Anuidades</span> deveriam ser proibidas
                            </p>
                            <p class="h5 font-light text-white">Talvez você ainda ache normal ficar refém dos planos de hospedagem.
                            </p>
                        </div>
                        <div class="green-img hidden-md-down mb-5">
                            <img data-src="//assets.umbler.com/site/home/2021/past-image-acqua.svg?v=20210401104314">
                        </div>
                        <div class="pos-relative timeline-text green-text text-xs-left text-lg-right pl-5 pl-lg-0 pb-4 pb-lg-5">
                            <p class="h3 text-white mb-3"><span class="text-green">Sem pegadinhas</span> e asteriscos
                            </p>
                            <p class="h5 font-light text-white">Não enganamos você na renovação de serviços como outras empresas fazem.</p>
                        </div>
                        <div class="red-img hidden-md-down mb-5">
                            <img data-src="//assets.umbler.com/site/home/2021/past-image-red.png?v=20210401104314">
                        </div>
                        <div class="pos-relative timeline-text red-text text-xs-left pl-5 pl-lg-0 pb-4 pb-lg-5">
                            <p class="h3 text-white mb-3"><span class="text-red">Não faz sentido</span> perder seu foco
                            </p>
                            <p class="h5 font-light text-white">Não assuma o papel de suporte quando o site do seu cliente fica fora do ar.</p>
                        </div>
                    </div>
                    <p class="h3 font-medium text-white pt-lg-1 text-xs-left text-lg-center ml-2 ml-lg-0 mt-2 mt-lg-0 mb-4 mb-lg-0">
                        Estas são coisas erradas que empresas tradicionais<br class="hidden-md-down"> tentam enfiar goela abaixo nas pessoas</p>
                </div>
            </div>
        </section>
        <section class="section-label-manifest pos-relative">
            <div class="container-fluid pb-5 pos-relative">
                <div class="row text-xs-center">
                    <div class="cta-box pos-relative">
                        <label id="cta-timeline" href="https://app.umbler.com/account/register" class="btn-asphalt py-1 px-4 mb-3">Conheça o nosso Manifesto!</label>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-manifest pb-lg-3 pos-relative">
            <div class="container pb-5">
                <div class="row py-3 text-xs-center flex-xs flex-xs-col flex-xs-middle">
                    <span class="subheading sub-section sub-center">manifesto</span>
                    <h1 class="h1 display-lg-4 display-xl-2 mb-5 text-primary">
                        O novo chego<img src="assets/img/img-umbler-favicon.svg" class="img-svg ub-svg">
                    </h1>
                    <div class="manifest-paragraphs">
                        <p class="h5 h4-lg font-light px-xxl-2 pb-md-3">Surgimos para trazer o novo para um mercado que pouco mudou desde o seu surgimento. Nós acreditamos que a melhor forma para mudar isso é sendo um parceiro diferente.</p>
                        <p class="h5 h4-lg font-light px-xxl-2 pb-md-5">Alguém que trabalhe para a sua agência focar no seu crescimento, ao invés de perder tempo com os processos técnicos e complicados da web. É por isso que a Umbler existe!</p>
                    </div>
                    <div class="card-manifest text-xs-left p-3 mb-4">
                        <div class="col-lg-4">
                            <div class="mb-4 mb-lg-0 px-lg-3">
                                <span class="icon icon-game-gameboy icon-3x icon-rounded icon-primary mb-2"></span>
                                <h3 class="h5 h4-lg mb-2 text-primary">Somos Diferentes</h3>
                                <p class="mb-3">Oferecemos soluções simples de serem entendidas, configuradas, operadas e mais acessíveis que as soluções nacionais, sem deixar de lado a qualidade do serviço.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-4 mb-lg-0 px-lg-3">
                                <span class="icon icon-rounded icon-primary mb-2 p-2">
                                    <img src="assets/img/newumbler-coala.svg" class="img-svg img-2x">
                                </span>
                                <h3 class="h5 h4-lg mb-2 text-primary">Somos Únicos</h3>
                                <p class="mb-3">Somos o único parceiro que fala com você por meio de um atendimento exclusivo, indica leads para a sua agência, e ainda, compartilha os lucros com você.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="px-lg-3">
                                <span class="icon icon-umbler-logo icon-3x icon-rounded icon-primary mb-2"></span>
                                <h3 class="h5 h4-lg mb-2 text-primary">Somos Umbler</h3>
                                <p class="mb-3">Trabalhamos para criar a melhor experiência no mercado. Venha fazer parte do movimento que facilita de verdade a vida de quem faz a web acontecer!</p>
                            </div>
                        </div>
                    </div>
                    <a id="cta-manifest" href="https://app.umbler.com/account/register" class="btn btn-primary btn-lg py-2 px-3 mb-2">Também quero fazer parte</a>
                    <p class="h6 font-ligher text-primary">7 dias grátis sem cartão de crédito</p>
                </div>
            </div>
        </section>
        <section class="section-features pos-relative overflow-hidden">
            <div class="container-fluid pb-lg-5">
                <div class="row py-lg-5 mb-lg-5">
                    <div class="col-xl-5 offset-xl-1 flex-xs flex-xs-col flex-xs-middle flex-xl-top text-xs-center text-xl-left">
                        <img src="assets/img/img-u-webapps.svg" class="img-svg img-4x img-primary-light mb-2">
                        <h1 class="display-xl-4 mb-2">Seu site no ar super rápido e seguro</h1>
                        <p class="h5 text-gray-dark mb-3">Você mesmo coloca o seu site no ar, sem perder tempo e de um jeito mega fácil. Descubra como tudo pode ser mais simples para você!</p>
                        <a class="py-1 text-primary mb-4" href="/br/precos#emails">
                            Quero subir o meu site agora
                            <span class="icon icon-arrow-forward ml-sm-1"></span>
                        </a>
                        <img data-src="//assets.umbler.com/site/home/2021/icon-pack-star.svg?v=20210401104314" class="img-fluid mb-2">
                        <p class="h6 mb-2">
                            <small class="text-muted">"Você vai poder dedicar mais tempo na sua aplicação e<br
                                    class="hidden-md-down"> menos na configuração do ambiente."</small>
                        </p>
                        <div>
                            <p class="h6 mb-0"><small>Igor Oliveira</small></p>
                            <p class="h6 mb-2"><small class="text-muted">@progbr</small></p>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 hidden-xl-down">
                        <div id="home-header-motion"></div>
                    </div>
                </div>
            </div>

            <img data-src="//assets.umbler.com/site/home/2021/sitemail-hand-envelope.svg&#x9;?v=20210401104314" id="umblerito-mail" class="umblerito-mail-img img-fluid hidden-md-down pos-absolute">
            <div class="sec-cellphone container pb-lg-5 pos-relative text-xs-center text-lg-left">
                <div class="row pb-4 flex-xs flex-xs-center flex-lg-between">
                    <div class="col-lg-5 flex-xs flex-xs-center">
                        <img data-src="//assets.umbler.com/site/home/2021/sitemail-webmail.svg?v=20210401104314" class="img-fluid umb-app-img">
                    </div>
                    <div class="col-lg-6 flex-xs flex-xs-col flex-xs-middle flex-lg-top">
                        <img src="assets/img/img-u-mail.svg" class="img-svg img-4x img-primary-light mb-2">
                        <h1 class="display-xl-4 mb-2">Email profissional agora é grátis!</h1>
                        <p class="h5 text-gray-dark mb-3">Tenha um email próprio com o nome da sua marca e<br class="hidden-md-down"> ganhe muita credibilidade e segurança para o seu negócio, comunicando-se de maneira profissional.</p>
                        <a class="py-1 text-primary mb-4" href="/br/precos#emails">
                            Dê adeus ao email amador agora
                            <span class="icon icon-arrow-forward ml-sm-1"></span>
                        </a>
                        <img data-src="//assets.umbler.com/site/home/2021/icon-pack-star.svg?v=20210401104314" class="img-fluid mb-2">
                        <p class="h6 mb-2">
                            <small class="text-muted">"Durante muito tempo tive problemas com emails, daí<br
                                    class="hidden-md-down"> conheci a Umbler e hoje durmo mais tranquilo"</small>
                        </p>
                        <div>
                            <p class="h6 mb-0"><small>Marcio Peruchi</small></p>
                            <p class="h6 mb-2"><small class="text-muted">@marcioperuchi</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid pb-lg-5 text-xs-center text-lg-left">
                <div class="row py-lg-5 my-lg-5">
                    <div class="col-lg-5 offset-lg-1 col-xl-5 flex-xs flex-xs-col flex-xs-middle flex-lg-top mb-4 mb-lg-0">
                        <img src="assets/img/img-u-domain.svg" class="img-svg img-4x img-primary-light mb-2">
                        <h1 class="display-xl-4 mb-2">Registre sua empresa.com a preço de custo</h1>
                        <p class="h5 text-gray-dark mb-3">Aqui nós jogamos limpo! Chega de pagar baratinho para registrar um domínio e depois ter que pagar caro na hora da renovação. Aqui o registro e a renovação do seu domínio são a preço de custo!</p>
                        <a class="py-1 text-primary mb-4" href="/br/precos#emails">
                            Coloque a sua ideia online agora
                            <span class="icon icon-arrow-forward ml-sm-1"></span>
                        </a>
                        <img data-src="//assets.umbler.com/site/home/2021/icon-pack-star.svg?v=20210401104314" class="img-fluid mb-2">
                        <p class="h6 mb-2">
                            <small class="text-muted">"Nos proporcionaram condições perfeitas para o<br
                                    class="hidden-md-down"> período da migração, em um cenário de 450 domínios<br
                                    class="hidden-md-down"> e 3.500 contas de email"</small>
                        </p>
                        <div>
                            <p class="h6 mb-0"><small>Monetizze</small></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 offset-xl-1">
                        <img data-src="//assets.umbler.com/site/home/2021/domain-img-app.svg?v=20210401104314" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
        <section class="section-jetpack">
            <div class="container-fluid pb-3">
                <div class="row py-3 pt-xl-5 flex-xs flex-lg-end mx-xl-5">
                    <div class="col-lg-6 offset-lg-6 col-xxl-7 offset-xxl-5 pos-relative text-xs-center text-lg-left">
                        <p class="sub-font subheading text-primary-tint">agora é com você...</p>
                        <h1 class="display-xl-4 mb-2 text-warning-light mb-4">Coloque o seu negócio no próximo nível
                        </h1>
                        <p class="h5 text-primary-lighter mb-5">Aqui você sabe exatamente quanto vai pagar, sem pegadinhas. Você não precisa mais ficar refém de planos fechados. Com a gente, você paga apenas o que usar, fácil assim.</p>
                        <a id="cta-manifest" href="https://app.umbler.com/account/register" class="btn btn-primary btn-lg py-2 px-3 mb-2">Comece agora e ganhe 7 dias grátis! 🚀</a>
                    </div>
                </div>
            </div>
        </section>




        <footer id="footer" class="overflow-hidden">
            <div class="container pb-3 pt-4 pt-sm-5 pb-md-3 pos-relative">
                <div class="row text-xs-center text-lg-left">
                    <div class="col-lg-2">
                        <ul>
                            <li>
                                <h6 class="pos-relative font-medium"><span class="desc">Ideal para</span>Empreendedores
                                </h6>
                            </li>
                            <li><a href="/br/hospedagem-de-sites">Sites</a></li>
                            <li><a href="/br/email-profissional">Emails</a></li>
                            <li><a href="/br/registro-de-dominio">Domínios</a></li>
                            <li><a href="https://utalk.umbler.com/" alt="uTalk" target="_blank">uTalk</a></li>

                            <li>
                                <h6 class="pos-relative font-medium mt-1 mt-lg-4 mb-1"><span class="desc">Ideal
                                        para</span>Agências</h6>
                            </li>
                            <li><a href="/br/hospedagem-para-agencias">Hospedagem</a></li>
                            <li><a href="/br/hospedagem-para-agencias#section-agencies-partner">Parceria</a></li>
                            <li><a target="_blank" href="/br/academy">Cursos</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <ul>
                            <li>
                                <h6 class="font-medium">Programas</h6>
                            </li>
                            <li><a href="/br/indique-e-ganhe">Indique e ganhe</a></li>
                            <li><a href="/br/prime">Umbler Prime</a></li>
                            <li><a href="/br/programa-de-afiliados">Seja um afiliado</a></li>
                            <li><a href="/br/contribuicaodigital">Contribuição Digital</a></li>
                        </ul>
                        <ul>
                            <li>
                                <h6 class="font-medium">Tecnologias</h6>
                            </li>
                            <li><a href="/br/hospedagem-php">PHP</a></li>
                            <li><a href="/br/hospedagem-nodejs">Node.js</a></li>
                            <li><a href="/br/hospedagem-wordpress">Wordpress</a></li>
                            <li><a href="/br/hospedagem-ssd">SSD</a></li>
                            <li><a href="/br/hospedagem-para-desenvolvedores">Git</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <ul>
                            <li>
                                <h6 class="font-medium">Suporte</h6>
                            </li>
                            <li><a href="//help.umbler.com/hc/pt-br" alt="Central de ajuda da Umbler" target="_blank">Tutoriais</a></li>
                            <li><a href="https://community.umbler.com" alt="Comunidade da Umbler" target="_blank">Comunidade</a></li>
                            <li><a href="/br/migre-para-umbler">Migre para Umbler</a></li>
                            <li><a href="http://status.umbler.com" alt="Status da Umbler" rel="nofollow" target="_blank">Server Status</a></li>
                        </ul>

                        <ul>
                            <li>
                                <h6 class="font-medium">Compare</h6>
                            </li>
                            <li><a href="/br/compare/git-vs-ftp">Git vs FTP</a></li>
                            <li><a href="/br/compare/umbler-vs-cpanel">cPanel</a></li>
                            <li><a href="/br/compare/umbler-vs-vps">VPS</a></li>
                            <li><a href="/br/compare/cloudsites-vs-compartilhado">Compartilhado</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 hidden-md-down">
                        <ul>
                            <li>
                                <h6 class="font-medium">Umbler</h6>
                            </li>
                            <li><a href="/br/sobre">Sobre nós</a></li>
                            <li><a href="/br/precos">Preços</a></li>
                            <li><a href="/br/api">API de integração</a></li>
                            <li><a href="https://design.umbler.com/" target="_blank">Design System</a></li>
                            <li><a href="//umbler.recruitee.com/" alt="Trabalhe na Umbler" target="_blank">Trabalhe
                                    conosco</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 hidden-md-down">
                        <ul>
                            <li>
                                <h6 class="font-medium mb-0">
                                    <a href="https://blog.umbler.com" target="_blank" class="text-primary">
                                        <span class="icon icon-chat-bubble-empty text-primary-light mr-1"></span>Blog
                                    </a>
                                </h6>

                                <a href="javascript:;" class="footer-blog-link font-normal" target="_blank">
                                    <p class="footer-blog-title pr-4"></p>
                                    <img src="assets/img/post-10-2020-pesquisa-satisfacao-800x427.png" class="footer-blog-image img-fluid rounded card">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end container -->


            <div class="footer-copyright flex-sm flex-sm-middle bg-primary-lightest">
                <div class="container py-4">
                    <div class="row">
                        <div class="col-lg-7 col-xl-8 pos-relative hidden-lg-down">
                            <a class="hidden-xs-down pos-absolute" style="top:-13px" href="/br">
                                <img src="assets/img/img-umbler-favicon.svg" class="img-svg img-logo img-3x">
                            </a>
                            <small class="d-inline-block pl-5">
                                <p class="d-inline mr-3">Umbler, Inc. &copy; 2021</p>
                                <a href="/br/legal/termos-de-servico">Termos de Serviço</a>
                                <span class="text-primary-light small">•</span>
                                <a href="/br/legal/politica-de-uso">Política de Uso</a>
                                <span class="text-primary-light small">•</span>
                                <a href="/br/legal/politica-de-privacidade">Política de Privacidade</a>
                            </small>
                        </div>
                        <div class="col-lg-5 col-xl-4 umbler-social text-xs-center text-lg-left">
                            <a href="https://www.facebook.com/umbler" target="_blank">
                                <i class="icon icon-2x mr-2 icon-brand-facebook"></i>
                            </a>
                            <a href="https://twitter.com/umbler" target="_blank">
                                <i class="icon icon-2x mr-2 icon-brand-twitter"></i>
                            </a>
                            <a href="https://www.instagram.com/instaumbler/" target="_blank">
                                <i class="icon icon-2x mr-2 icon-brand-instagram"></i>
                            </a>
                            <a href="https://www.youtube.com/umbler" target="_blank">
                                <i class="icon icon-2x mr-2 icon-brand-youtube"></i>
                            </a>
                            <a href="https://medium.com/@umbler" target="_blank">
                                <i class="icon icon-2x mr-2 icon-brand-medium"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/umbler" target="_blank">
                                <i class="icon icon-2x mr-2 icon-brand-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <a id="back-top" href="javascript:void(0);" rel="nofollow" class="icon icon-arrow-upward icon-inverse icon-3x hidden-sm-down"></a>
    </div>


    <div class="mm-ocd mm-ocd--right">
        <div class="mm-ocd__content">
            <nav id="menu-mobile" class="mm-spn mm-spn--light mm-spn--navbar mm-spn--main" data-mm-spn-title="Menu">
                <ul class="mm-spn--open">
                    <li class="flex-xs flex-xs-middle mb-3">
                        <a href="https://app.umbler.com" target="_blank" rel="nofollow" class="d-inline-block font-bold py-2">Login</a>
                        <a href="https://app.umbler.com/account/register" rel="nofollow" class="btn btn-success d-block d-sm-inline mx-md-3 my-1 float-sm-right">Experimente
                            grátis!</a>
                    </li>

                    <li><a class="h6 font-medium mt-3 text-primary" href="/br">Umbler</a></li>
                    <li><a href="/br/sobre">Sobre nós</a></li>
                    <li><a href="/br/precos">Preços</a></li>
                    <li><a href="//blog.umbler.com/br/" target="_blank">Blog</a></li>

                    <li><span class="h6 font-medium mt-3 text-primary">Para agências</span></li>
                    <li><a href="/br/hospedagem-de-sites">Hospedagem</a></li>
                    <li><a href="/br/email-profissional">Parceria</a></li>
                    <li><a target="_blank" href="/br/academy">Cursos</a></li>

                    <li><span class="h6 font-medium mt-3 text-primary">Para empreendedores</span></li>
                    <li><a href="/br/email-profissional">Emails</a></li>
                    <li><a href="/br/registro-de-dominio">Domínios</a></li>
                    <li><a href="https://rodrigomaciel.ag/" target="_blank">Cursos</a></li>
                    <li><a href="https://utalk.umbler.com/">uTalk</a></li>

                    <li><span class="h6 font-medium mt-3 text-primary">Suporte</span></li>
                    <li><a href="//help.umbler.com" target="_blank">Central de ajuda</a></li>
                    <li><a href="https://community.umbler.com" target="_blank">Comunidade</a></li>
                    <li><a href="/br/migre-para-umbler">Migre para Umbler</a></li>

                    <li><span class="h6 font-medium mt-3 text-primary">Programas</span></li>
                    <li><a href="/br/indique-e-ganhe">Indique e ganhe</a></li>
                    <li><a href="/br/prime">Umbler Prime</a></li>
                    <li><a href="/br/programa-de-afiliados">Seja um afiliado</a></li>
                    <li><a href="/br/hospedagem-para-agencias#section-agencies-partner">Agência Parceira</a></li>


                    <li class="mt-3">
                        <a href="https://www.instagram.com/instaumbler/" target="_blank"><i
                                class="icon icon-brand-instagram icon-primary mr-1"></i> Instagram</a>
                        <a href="https://www.facebook.com/umbler" target="_blank"><i
                                class="icon icon-brand-facebook icon-primary mr-1"></i> Facebook</a>
                        <a href="https://medium.com/@umbler" target="_blank"><i
                                class="icon icon-brand-medium icon-primary mr-1"></i> Medium</a>
                        <a href="https://www.linkedin.com/company/umbler" target="_blank"><i
                                class="icon icon-brand-linkedin icon-primary mr-1"></i> LinkedIn</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="mm-ocd__backdrop"></div>
    </div>


    <!-- jQuery, Tether and Bootstrap JS -->

    <script src="assets/js/jquery.3.4.1.underscore.1.8.3tether.1.4.js"></script>
    <script src="assets/js/lottie_svg.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.min.js"></script>
    <script src="assets/js/libs.min.js"></script>


    <script src="assets/js/home.js"></script>



    <!--[if lte IE 9]>
		<div class="browserupgrade">
			<h4 class="text-white">O seu navegador est&aacute; desatualizado!</h4>
			<p>Atualize o seu navegador para ter uma melhor experi&ecirc;ncia e visualiza&ccedil;&atilde;o deste site. <a class="btn-browserupgrade" href="http://outdatedbrowser.com/pt-br">Atualize o seu navegador agora</a></p>
		</div>
		<script src="~/js/libs/excanvas.html5shiv.3.7.3.respond1.4.2.rem1.3.4.svg4everybody.js"></script>
		<script>svg4everybody();</script>
  <![endif]-->

</body>

</html>