<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>anyloja - Comece a vender pela internet com um catálogo virtual!</title>
    <meta name="title" content="Anyloja - Comece a Vender pela Internet com um Catálogo Virtual!">
    <meta name="description" content="Crie seu catálogo online de produtos com pedidos via WhatsApp! Conheca a solução mais fácil!">
    <meta name="keywords" content="catalogo online, catalogo digital, catalogo online, catalogo via whatsapp, app de catalogo vitual, catalogo virtual para vendedores, catalogo virtual para lojas">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Portuguese">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Anyloja">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Anyloja - Comece a Vender pela Internet com um Catálogo Virtual!">
    <meta property="og:site_name" content="Anyloja">
    <meta property="og:url" content="https://anyloja.com.br">
    <meta property="og:description" content="Crie seu catálogo online de produtos com pedidos via WhatsApp! Conheçaa a solução mais fácil!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://anyloja.com.br/assets.site/images/og.webp">
    <link rel="icon" href="/assets.site/images/logo-v4.svg" type="image/png" sizes="16x16">
    <link href="assets.site/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- Resource style -->
    <!-- <link rel="stylesheet" href="assets.site/css/owl.carousel.css">
    <link rel="stylesheet" href="assets.site/css/owl.theme.css">-->
    <!-- Resource style -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;600;900&display=swap" rel="stylesheet">


    <link href="assets.site/css/style.css?v=1.0.2" rel="stylesheet" type="text/css" media="all">
    <link href="assets.site/css/whatsapp.css?v=1.0.2" rel="stylesheet" type="text/css" media="all">
    <link href="assets.site/css/lity.min.css" rel="stylesheet">
    <link href="assets.site/css/socialstory.css" rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        <div id="storytime"></div>
        <!-- Navbar Section -->
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <div class="container">

                <img src="/assets.site/images/logo-v4.svg" style="height: 32px;">
                <span class="logo">anyloja</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#main">Home</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">O Problema</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#features">A Solução</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#pricing">Preço</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger sing-in" href="/loja">Entrar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <div id="main" class="main">
            <div class="hero">
                <div class="container">
                    <div class="row align-center">
                        <div class="col-md-12 col-lg-5">
                            <div class="hero-content">
                                <h2>anyloja, é a plataforma mais <u>fácil</u> para começar a <u>vender pela
                                        internet
                                    </u> e ter <u>resultados</u>.
                                </h2>
                                <p>Os clientes escolhem os produtos no catálogo da sua loja, e finalizam o pedido no whatsapp!
                                </p>
                                <a class="btn btn-action " target="_blank" id="#LojaTest" href="/loja-de-camisas/qz2Dk">Conhecer uma Loja</a>
                                <!--<div class="singup-div"> <a class="hero-singup instagram" href="#" onclick="ShowStorie()">Assista
                                        este story</a> </div>-->
                                <!-- <div class="form"> <form id="chimp-form" class="subscribe-form" action="assets.site/php/subscribe.php" method="post" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" autocomplete="off" novalidate> <input class="mail" id="chimp-email" type="email" name="email" placeholder="Entre com seu email" autocomplete="off"><input class="submit-button" type="submit" value="Teste Gratis"> </form> <div id="response"></div> </div>-->
                                <div class="form-note">
                                    <p>Nós vamos te ajudar 🥰 a vender muito pela internet!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 offset-lg-1" id="pc">
                            <div id="wrapper">
                                <img src="/assets.site/images/you-store.webp" style="max-width: 219px;max-height: 113px;margin-top: 90px;margin-left: 0px;position: absolute;z-index: 999;">
                                <img src="/assets.site/images/store.webp" style="max-width: 391px;max-height: 349px;margin-top: 35px;margin-left: 210px;">
                                <div id="iphone">
                                    <div id="shadow"></div>
                                    <div id="side"></div>
                                    <div id="lines">
                                        <div>
                                            <div>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="toggler">
                                        <div></div>
                                    </div>
                                    <div id="aux"></div>
                                    <div id="lightning"></div>
                                    <div id="bottom-speaker">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div id="skrews">
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div id="volume">
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div id="front">
                                        <div id="front-cover"></div>
                                        <div id="camera">
                                            <div></div>
                                        </div>
                                        <div id="speaker"></div>
                                        <div id="screen">
                                            <div id="screenin">
                                            </div>

                                        </div>
                                        <div id="home">
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Counter Section -->

            <div id="services" class="">
                <div class="container-m">
                    <div class="row">


                        <div class="col-sm-5 col-lg-5">
                            <h3 class="text-center" style="padding: 0 20px;margin-top: 10px;">Isso já aconteceu com você? 👇</h3>
                            <div class="page">
                                <div class="marvel-device nexus5">
                                    <div class="screen">
                                        <div class="screen-container">

                                            <div class="chat">
                                                <div class="chat-container">
                                                    <div class="user-bar">
                                                        <div class="back">
                                                            <i class="zmdi zmdi-arrow-left"></i>
                                                        </div>
                                                        <div class="avatar">
                                                            <img src="/assets.site/images/logo-store-tshirts.webp" alt="Avatar">
                                                        </div>
                                                        <div class="name">
                                                            <span>Loja de Camisas</span>
                                                            <span class="status">online</span>
                                                        </div>
                                                    </div>
                                                    <div class="conversation">
                                                        <div class="conversation-container">
                                                            <div class="message sent">
                                                                Oi, a camisa preta está disponível ?
                                                                <span class="metadata">
                                                                    <span class="time">7:22</span><span class="tick"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="16" height="15" id="msg-dblcheck-ack"
                                                                            x="2063" y="2076">
                                                                            <path
                                                                                d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"
                                                                                fill="#4fc3f7" /></svg></span>
                                                                </span>
                                                            </div>
                                                            <div class="message received">
                                                                Qual delas ?
                                                                <span class="metadata"><span
                                                                        class="time">8:43<span></span>
                                                            </div>
                                                            <div class="message sent">
                                                                A de manga curta
                                                                <span class="metadata">
                                                                    <span class="time">11:50</span><span class="tick"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="16" height="15" id="msg-dblcheck-ack"
                                                                            x="2063" y="2076">
                                                                            <path
                                                                                d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"
                                                                                fill="#4fc3f7" /></svg></span>
                                                                </span>
                                                            </div>
                                                            <div class="message received">
                                                                A lisa ?
                                                                <span class="metadata"><span
                                                                        class="time">13:42</span></span>
                                                            </div>

                                                            <div class="message sent">
                                                                Não, a outra !!!
                                                                <span class="metadata">
                                                                    <span class="time">14:02</span><span class="tick"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="16" height="15" id="msg-dblcheck-ack"
                                                                            x="2063" y="2076">
                                                                            <path
                                                                                d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"
                                                                                fill="#4fc3f7" /></svg></span>
                                                                </span>
                                                            </div>

                                                            <div class="message received">
                                                                <div class="various-img">
                                                                    <img src="assets.site/images/camisa1.webp">
                                                                    <img src="assets.site/images/camisa2.webp">
                                                                    <img src="assets.site/images/camisa3.webp">
                                                                    <img src="assets.site/images/camisa4.webp" class="blur">
                                                                    <span>+229</span>
                                                                </div>
                                                                <span class="metadata"><span
                                                                        class="time">14:59</span></span>
                                                            </div>

                                                            <div class="message sent" id="typed">

                                                                <span class="quotes">😭 Desculpa, já comprei em outra
                                                                    loja, demorou demais para responder ... </span>
                                                                <span class="quotes">Nossa! Esse monte de imagens
                                                                    travaram aqui meu cel 😢acho que não vai
                                                                    dar...</span>
                                                                <span class="quotes">😅 Quanta imagem eim? Agora não vou
                                                                    conseguir olhar, depois a gente vê isso ok?</span>
                                                                <span class="quotes">Gostei de algumas mas como faço
                                                                    pra saber se tem no Tamanho M?</span>
                                                                <span class="quotes">Mudei de ideia, tem camisas
                                                                    vermelhas ?</span>
                                                                <span class="quotes">Alô tem alguem ai? Estou com varias
                                                                    dúvidas, parece que não quer vender!</span>








                                                                <span class="metadata">
                                                                    <span class="time">15:11</span><span class="tick"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="16" height="15" id="msg-dblcheck-ack"
                                                                            x="2063" y="2076">
                                                                            <path
                                                                                d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"
                                                                                fill="#4fc3f7" /></svg></span>
                                                                </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="text-center" style="padding: 0 20px;">Além da demora para responder o cliente, esse lojista não conseguiu vender seu produto.
                                    </h3>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-7 col-lg-7" style="align-self: center;">
                            <div class="features-intro">
                                <h2>Mas, como nossa plataforma vai te ajudar a vender online?</h2>
                                <p>O problema é que, hoje usar só whatsapp para vender seus produtos não é o suficiente. Mesmo se você enviar centenas de fotos, <strong>o cliente ainda não terá
                                        acesso</strong> a todos os produtos que você tem na loja e você ainda tem que dizer o preço dos produtos, os tamanhos, as cores, modelos, diferenças ... enfim uma confusão danada ... 😕
                                    <p>Isso só piora, quando você atende vários clientes ao mesmo tempo e corre o risco de se perder nas conversas ou demorar demais para responder.</p>
                                    <p>E para completar o cenário, você ainda tem que ficar correndo, de um lado para o outro tirando fotos dos produtos que, muitas vezes, não ficam com aspecto muito profissional!
                                    </p>
                                    <p> <strong>Isso não parece muito bom né? Mas, calma, nós podemos te
                                            ajudar!</strong></p>


                                    <!-- <p>Esqueça o velho. Criamos uma experiência de compra online em conjunto com Whatsapp, diferente de tudo que você ja viu.</p>-->
                            </div>
                        </div>
                    </div>

                    <div class="row section background-over ajust-row">
                        <div class="col-sm-6 col-lg-6" style="align-self: center;">
                            <!--<div class="card-icon">
                                <div class="card-img"> <img src="assets.site/images/venda-online.png" data-src="assets.site/images/venda-online.png" width="300" alt="Feature"> </div>
                            </div>-->
                            <div class="features-intro">


                                <h2 class="mt-30 mb-30" style="color:#25d366">Existe uma maneira mais fácil de vender online!
                                </h2>
                                <p>Com a <strong>anyloja</strong> você terá um catalogo virtual para mostrar todos os seus produtos. De maneira fácil o cliente escolhe os produtos, filtrar por tamanhos, cores, tipos, marcas, colocar no carrinho e finalizar
                                    a compra no whatsapp.
                                </p>

                                <p><strong>anyloja</strong> é uma plataforma que facilita sua vida na hora de vender online e pelo whatsapp.</p>

                                <p> <span style="font-size: 36px;margin-right: 10px;line-height: 50px;position: absolute;margin-top: -16px;">🤩</span><span class="box-bonus">Bônus para vender mais</span>
                                </p>
                                <p>Além disso, você tem acesso a treinamentos que te ajudam a vender mais, como por exemplo, o treinamento de como tirar boas fotos dos produtos ou remover o fundo de fotos de maneira fácil.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <img src="/assets.site/images/claps-emoji.png" style="position: absolute;bottom: -20px;right: 50px;z-index: 999;">

                            <main>
                                <div class="iphonex">
                                    <div class="front">
                                        <div class="screen">
                                            <div class="screen__view">
                                                <video playsinline autoplay muted loop preload>
                                                    <source src="/assets.site/images/funciona_c.mp4" type="video/mp4">
                                                </video>
                                            </div>
                                            <div class="screen__front">
                                                <div class="screen__front-speaker"></div>
                                                <div class="screen__front-camera"></div>
                                            </div>
                                        </div>
                                        <div class="front__line"></div>
                                        <div class="front__line front__line-second"></div>
                                    </div>
                                    <div class="phoneButtons phoneButtons-right"></div>
                                    <div class="phoneButtons phoneButtons-left"></div>
                                    <div class="phoneButtons phoneButtons-left2"></div>
                                    <div class="phoneButtons phoneButtons-left3"></div>
                                    <div class="back"></div>
                                </div>


                            </main>

                        </div>
                    </div>


                </div>

            </div>

            <div id="features" class="features">
                <div class="container-m">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <div class="features-intro">
                                <h2>Transforme sua loja e começe a vender pela internet</h2>
                                <p>Com nossos recursos incríveis, você vai atender seus clientes, com uma rapidez ninja e ter todos os produtos da sua loja disponíveis para venda 24 horas por dia.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="feature-list">
                                <div class="card-icon">
                                    <div class="card-img"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets.site/images/stories2.webp" width="100%" alt="Feature">
                                    </div>
                                </div>
                                <div class="card-text">
                                    <h3>Stories</h3>
                                    <p>Use esse recurso para conversar com seu público, mostrar produtos, criar experiências e vender muito.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="feature-list">
                                <div class="card-icon">
                                    <div class="card-img"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets.site/images/banner.jpg" width="100%" alt="Feature" style="border-radius: 5px;">
                                    </div>
                                </div>
                                <div class="card-text">
                                    <h3>Banners</h3>
                                    <p>Gerencie Banner de ofertas ou de buscas personalizadas de forma super fácil.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="feature-list">
                                <div class="card-icon">
                                    <div class="card-img"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets.site/images/sellers.png" width="100%" alt="Feature">
                                    </div>
                                </div>
                                <div class="card-text">
                                    <h3>Múltiplos Vendedores</h3>
                                    <p>Uma loja, muitos vendedores, milhares de vendas. Continha simples né. Adicione quantos vendedores quiser na mesma loja. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="feature-list">
                                <div class="card-icon">
                                    <div class="card-img"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets.site/images/support.png" width="100%" alt="Feature"> </div>
                                </div>
                                <div class="card-text">
                                    <h3>Suporte e Treinamento</h3>
                                    <p>Te ajudamos e acompanhamos sua loja. Suporte rápido e eficiente, sempre que você precisar.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="feature-list">
                                <div class="card-icon">
                                    <div class="card-img"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets.site/images/variations.png" width="100%" alt="Feature" style="border-radius: 5px;">
                                    </div>
                                </div>
                                <div class="card-text">
                                    <h3>Crie Variações Ilimitada de Produtos</h3>
                                    <p>Cadastre seus produtos por cores, tamanhos, capacidade, o que você quiser.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="feature-list">
                                <div class="card-icon">
                                    <div class="card-img"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets.site/images/screen-busca.webp" width="100%" alt="Feature">
                                    </div>
                                </div>
                                <div class="card-text">
                                    <h3>Busca Personalizada</h3>
                                    <p>Seria legal enviar um link para seu cliente com os produtos que ele precisa né? Pois é aqui você pode!</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-list">
                                <div class="card-icon">
                                    <div class="card-img"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets.site/images/usability.png" width="100%" alt="Feature">
                                    </div>
                                </div>
                                <div class="card-text">
                                    <h3>Fácil de usar</h3>
                                    <p>Todas as escolhas são intuitivas e sempre bem explicadas. E você pode contar com ajuda caso haja alguma dúvida.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-list">
                                <div class="card-icon">
                                    <div class="card-img"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets.site/images/config.png" width="100%" alt="Feature"> </div>
                                </div>
                                <div class="card-text">
                                    <h3> Fácil de Implantar</h3>
                                    <p>É só cadastrar os produtos que você quer vender e enviar o link para seu cliente e começar a receber pedidos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-list">
                                <div class="card-icon">
                                    <div class="card-img"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets.site/images/shopping.svg" width="100%" alt="Feature">
                                    </div>
                                </div>
                                <div class="card-text">
                                    <h3>Painel de Pedidos</h3>
                                    <p>Receba seus pedidos de maneira simples e organizada no Whatsapp e em um painel assim que o cliente finaliza em tempo real.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="yd-stats">
                <div class="container-s">
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <div class="intro" style="margin-top: 50px;">
                                <h4>Quer ver uma loja em funcionamento ?</h4>
                                <h2> SIM!</h2>
                            </div>
                            <p class="text-center mt-20">😎 Faça uma compra de teste na nossa loja de demonstração. </p>
                            <a class="btn btn-action " target="_blank" id="#LojaTest" href="/loja-de-camisas/qz2Dk">Conhecer uma Loja</a>
                            <div class="intro">
                                <h4>Veja o que a anyloja pode fazer pelo seu negócio</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Counter Section Ends -->


            <!-- Pelican Reviews Ends -->
            <div id="pricing" class="pricing-section text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2">
                            <div class="pricing-intro">
                                <h1>Afinal quanto custa ?</h1>
                                <p>Além de todos esses recursos aí de cima, oferecemos uma plataforma com catálogo digital que atenderão todos os seus clientes. Suporte de implantação, treinamento de funcionários e suporte técnico disponível a qualquer hora.
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="table-left">
                                        <h3>Semestral</h3>
                                        <p>Assinatura da plataforma por 6 meses.</p>
                                        <div class="pricing-details"> <small style="margin-bottom: 9px;">R$474
                                                até 6x</small> <span>R$79 </span> <small style="line-height: 31px;font-size: 14px;">por mês</small> <small>Sem
                                                pegadinhas, sem comissões que acabam
                                                com o
                                                lucro do seu negócio.</small> </div> <a class="btn btn-primary btn-action btn-primary" href="https://wa.me/5537988555554?&text=Quero%20assinar%20o%20Plano-Semestral">Assinar</a>
                                        <small>Se não gostar em até 7 dias, devolvemos o seu dinheiro.</small>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <span class="text-center">Queridinho das Empresas 👇</span>
                                    <div class="table-right">
                                        <h3>Anual</h3>
                                        <p>Assinatura da plataforma por 12 meses.</p>

                                        <div class="pricing-details"> <small style="margin-bottom: 9px;">R$828
                                                até 12x</small> <span>R$69 </span> <small style="line-height: 31px;font-size: 14px;">por mês</small> <small>Sem
                                                pegadinhas ou comissões que acabam
                                                com o
                                                lucro do seu negócio.</small> </div> <a class="btn btn-primary btn-action btn-white" href="https://wa.me/5537988555554?&text=Quero%20assinar%20o%20Plano-Anual">Assinar</a>
                                        <small>Se não gostar em até 7 dias, devolvemos o seu dinheiro.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pelican Footer Section -->
            <div class="footer-sm">
                <div class="container-m">
                    <div class="row">
                        <div class="col-md-4"> <a class="footer-logo" href="#">anyloja 2019-2021</a> <br>

                        </div>
                        <div class="col-md-4">
                            <h6>&copy; Direitos Reservados</h6>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><a href="https://www.facebook.com/atendezap">Facebook</a></li>
                                <li><a href="#">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inicio WhatsappBotom-->
            <div class="nav-bottom">
                <a href="https://wa.me/5537988555554?&text=Tenho duvidas, poderia me ajudar?">
                    <img class="icon-whatsapp" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets.site/images/whatsapp-icon.svg">
                </a>
            </div>
            <!-- Fim do WhatsappBottom-->
        </div>
        <!-- Main -->
    </div>
    <script type="text/javascript" src="assets.site/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="assets.site/js/lity.min.js"></script>
    <script type="text/javascript" src="assets.site/js/popper.min.js"></script>
    <script type="text/javascript" src="assets.site/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="assets.site/js/jquery.validate.min.js"></script>-->
    <script type="text/javascript" src="assets.site/js/plugins.js"></script>
    <script type="text/javascript" src="assets.site/js/custom.js"></script>

    <script type="text/javascript" src="assets.site/js/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="assets.site/js/socialstory.js?v=1.0.2"></script>
    <script type="text/javascript" src="assets.site/js/app.js?v=1.0.2"></script>

</body>

</html>