<%if(search_tags.length >0){%>

    <div class="mb-3 mt-3">
        <%- include('search') -%>
    </div>

      <div class="cart-form-wrapper py-2 busca">
        <div class="container cart-form">
            <button class="btn btn-lg w-100 btn-success lt-1" id="buscar" type="submit">MOSTRAR PRODUTOS</button>
        </div>

    </div>

  

    <% } %>