<!-- Sidenav Black Overlay-->
<div class="sidenav-black-overlay">

</div>
<!-- Side Nav Wrapper-->
<div class="suha-sidenav-wrapper" id="filter">
    <!-- Sidenav Profile-->

    <div class="ml-3 mt-4">
        <%- include('filtro') -%>
    </div>

    <!-- Sidenav Nav-->
    <h6 class="ml-3 mt-4">Veja mais Categorias</h6>
    <ul class="sidenav-nav pl-0 categories-display">
        <li class="category"><a href="/<%=store.cod%>/promotions/">
                Promoções</i>
            </a></li>

        <li class="category"><a href="/<%=store.cod%>/featured/">
                Destaques</i>
            </a></li>

          



    </ul>
    <!-- Go Back Button-->
    <div class="go-home-btn" id="goHomeBtn">X</div>
</div>