<!-- Sidenav Black Overlay-->
<div class="sidenav-black-overlay">

</div>
<!-- Side Nav Wrapper-->
<div class="suha-sidenav-wrapper" id="sidenavWrapper">
    <!-- Sidenav Profile-->


    <!-- Sidenav Nav-->
    <h6 class="ml-4 mt-4">Veja mais Categorias</h6>
    <ul class="sidenav-nav pl-0 categories-display">
        <li class="category"><a href="/<%=store.cod%>/promotions/"><i class="las la-piggy-bank"></i>
                Promoções</i>
            </a></li>

        <li class="category"><a href="/<%=store.cod%>/featured/"><i class="las la-temperature-high"></i>
                Destaques</i>
            </a></li>



    </ul>
    <!-- Go Back Button-->
    <div class="go-home-btn" id="goHomeBtn">X</div>
</div>