<form class="faq-search-form" action="/<%-store.cod%>/buscar" method="get">
    <input class="form-control search" type="search" name="term" id="term" placeholder="Encontre o que você precisa.">
    <button type="submit">
        <svg class="icon" style="height: 24px;line-height: 30px;color:#4285f4;fill: currentColor;">
            <use xlink:href="#magnifier"></use>
        </svg>
    </button>
</form>