article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden;
    font-family: "Google Sans", sans-serif !important;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
}

p {
    font-family: "Google Sans", sans-serif;
    font-size: 14px;
}

html * {
    /* text-rendering: optimizeLegibility !important;*/
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 1;
    background-color: #F2F2F2;
    z-index: 9999;
    text-align: center;
}

#loading-image {
    display: inline;
    top: 40%;
    position: relative;
    z-index: 9999;
}

.container-m {
    max-width: 1024px;
    margin: 0 auto !important;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.container-s {
    max-width: 920px;
    margin: 0 auto !important;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

span.logo {
    font-weight: 900;
    line-height: 1.3;
    color: #31343b;
    margin-left: 5px;
    font-size: 24px;
    font-family: "Google Sans", sans-serif;
}

.navbar {
    font-family: "Google Sans", sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fff !important;
    transition: all 0.5s ease;
}

.navbar .navbar-brand {
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    color: #959597 !important;
    vertical-align: middle;
}

.navbar .navbar-brand img {
    vertical-align: middle;
    margin-right: 0.3em;
}

.navbar .navbar-toggler {
    border: none;
}

.navbar span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar span.navbar-toggler-icon::before {
    outline: none;
}

.navbar .navbar-toggler:focus {
    outline: none;
}

.navbar-nav {
    text-align: center;
    margin-top: 15px;
    background-color: transparent;
    transition: all 0.5s ease;
}

.navbar-nav .nav-item {
    margin-right: 0;
    margin-top: 1.5rem;
    font-size: 0.85rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #563D7C;
}

.navbar-nav .nav-item .nav-link {
    color: #364655;
    font-weight: 500;
}

.nav-white .navbar-nav {
    background: transparent;
}

.nav-white .nav-item .nav-link {
    font-size: 0.92rem;
    text-transform: capitalize;
    color: #FFFFFF;
}

.nav-white .nav-item .nav-link:hover {
    color: #00eaff;
    transition: 0.5s;
}

.nav-white .navbar-brand {
    color: #FFFFFF;
}

.section {
    margin-top: 40px;
}

@media only screen and (max-width: 999px) {
    /*  #pc {
        display: none;
    }*/
}

@media only screen and (max-width: 768px) {
    .video {
        border-radius: 8px;
        max-width: 90vw !important;
    }
    .section {
        margin-top: 0px !important;
    }
    .hero {
        margin-top: 20px;
        /* height: calc(100vh - 60px) !important;*/
    }
    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar .navbar-nav {
        padding-bottom: 25px;
    }
    .navbar-nav {
        background-color: #FFFFFF;
    }
    .nav-white .nav-item .nav-link {
        color: #4957B8;
    }
    .navbar .btn-cta {
        padding: 0 30px;
    }
}

@media only screen and (min-width: 240px) {
    .alert {
        max-width: 90vw;
    }
    .navbar.past-main {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(255, 255, 255, 0.99) !important;
        box-shadow: 0 2px 3px 0 rgb(96, 96, 96, 0.1);
    }
    .navbar.effect-main {
        transition: all 0.3s;
    }
    .navbar.past-main .navbar-brand {
        color: #25d366 !important;
    }
    .nav-white.past-main .nav-item .nav-link {
        color: #364655;
        font-weight: 500;
    }
    .navbar.past-main .nav-item .nav-link {
        font-weight: 500;
        font-size: 24px;
    }
    a.nav-link.js-scroll-trigger.sing-in {
        padding: 21px 0px;
    }
    .nav-white.past-main .navbar-brand {
        color: #364655;
    }
    .navbar.past-main span.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .nav-white.effect-main {
        transition: all 0.3s;
    }
    .home {
        background: #f7f8f9;
    }
    .hero {}
    .hero u {
        text-decoration: none;
        background: #25d366;
        color: #fff;
        padding: 0px 5px 0px 5px;
        display: inline-flex;
    }
    .hero .hero-content {
        text-align: center;
        /*margin-top: 60px;*/
    }
    .hero h5 {
        font-size: 13px;
        font-weight: 600;
        color: #25d366;
        text-transform: uppercase;
        line-height: 1.2;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .instagram {
        font-size: 16px !important;
    }
    .hero h2 {
        margin-top: 80px;
        margin-bottom: 30px;
        font-size: 50px;
        font-weight: 700;
        color: #364655;
        color: #364655;
        line-height: 1.3;
        letter-spacing: -1px;
    }
    .hero p {
        font-size: 17px;
        font-weight: 500;
        color: #959597;
        line-height: 1.6;
        letter-spacing: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .hero img {
        margin-top: -10px;
        height: 101%;
        width: 100%;
    }
    .hero-img-box img {
        margin-top: 50px;
    }
    .form-note p {
        font-size: 12px;
    }
    .hero .row,
    .app-feature .row,
    .flex-split .row,
    .hero .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .align-center {
        align-items: center !important;
    }
    .chimp-form .mail {
        position: relative;
        background-color: #F9F9F9;
        box-shadow: none;
        box-sizing: content-box;
        transition: all 0.3s;
    }
    .form {
        padding-top: 25px;
        position: relative;
    }
    .form input {
        color: #222222;
        font-family: "Google Sans", sans-serif;
        padding: 0;
        font-size: 13px;
        font-weight: 500;
        height: 45px;
        border: 0;
        border-radius: 30px;
        background-color: #F3F3F3;
        outline: none;
        padding: 0 100px 0 20px;
        box-shadow: 0 5px 30px rgb(255, 255, 255, 0.1);
    }
    .form input:focus {
        outline: none !important;
        border-color: transparent;
    }
    .form .submit-button {
        height: 45px;
        border: 0;
        border-radius: 30px;
        margin-left: -50px;
        padding: 0 25px 0 25px;
        background: #25d366;
        font-family: "Google Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: 0;
        color: #FFFFFF;
        cursor: pointer;
        outline: none;
        box-shadow: 0 5px 30px rgb(255, 255, 255, 0.05);
        transition: 500ms;
    }
    #email-error {
        position: absolute;
        left: 20%;
        right: 0;
        bottom: 0%;
        font-family: "Google Sans", sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: #FF3333;
    }
    #response {
        position: absolute;
        left: 20%;
        bottom: -90%;
        vertical-align: middle;
        font-family: "Google Sans", sans-serif;
        font-size: 13px !important;
        font-weight: 500 !important;
        margin: 0 !important;
        color: #15ccbe;
    }
    #response h4 {
        font-size: 13px !important;
        font-weight: 500 !important;
        text-align: center;
    }
    #chimp-email-error {
        position: absolute;
        left: 20%;
        bottom: -90%;
        vertical-align: middle;
        text-align: center;
        font-family: "Google Sans", sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: red;
    }
    .success-message {
        color: #33cc33;
        margin-top: 5px;
    }
    .form-note p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 420px) {
    .form input {
        padding: 0 75px 0 20px;
    }
    .form .submit-button {
        margin-left: 0;
        margin-top: 10px;
    }
}

.instagram {
    font-size: 20px !important;
}

.btn-action {
    font-family: "Google Sans", sans-serif;
    display: inline-block;
    height: 45px;
    padding: 0 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 2px;
    margin: 20px 0;
    text-transform: uppercase;
    text-decoration: none !important;
    white-space: nowrap;
    cursor: pointer;
    background-color: #387ed1;
    background: #25d366;
    color: #FFFFFF;
    border: transparent solid 1px !important;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.2s;
}

.btn-action:hover {
    color: #FFFFFF;
    box-shadow: 0 5px 25px 0 rgb(0, 0, 100, 0.2);
    border: transparent solid 1px !important;
    outline: none !important;
    text-decoration: none;
}

.btn-action:focus,
.btn-action:active {
    background: #663399;
    color: #FFFFFF;
    border: transparent solid 1px !important;
    outline: none !important;
}

.features {
    padding: 30px 0;
    background: #f8f9fa;
}

.features-intro {
    margin-bottom: 30px;
    margin-top: 30px !important;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #364655;
    line-height: 1.3;
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.features-intro p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #5f6368;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature-list {
    margin: 30px 10px;
    padding: 30px 30px;
    border-radius: 10px;
    background: #FFFFFF;
}

.card-img img {
    vertical-align: middle;
}

.card-text {
    margin-top: 25px;
}

.card-text h3 {
    font-size: 21px;
    font-weight: 600;
    color: #3a3a47;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-text p {
    font-size: 17px;
    font-weight: 500;
    color: rgb(129, 129, 152);
    line-height: 1.6;
    max-width: 320px;
    margin: 0 auto;
}

.flex-inner {
    margin: 50px 0;
}

.flex-inner .f-image {
    padding: 0 35px;
}

.flex-inner .f-text {
    padding: 0 35px;
}

.flex-inner .f-text {
    flex: 1;
    text-align: center;
}

.flex-inner .f-text h1 {
    font-size: 24px;
    font-weight: 700;
    color: #3a3a47;
    line-height: 1.4;
    letter-spacing: -1px;
    margin-top: 20px;
}

.flex-inner .f-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #8B92AB;
    margin-top: 15px;
    margin-bottom: 10px;
}

.flex-inner .f-text .left-content a {
    font-family: "Google Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.client-section {
    background-color: #eef2f5;
    padding: 25px 25px;
    border: #eef2f5 solid 1px;
}

.clients .single img {
    max-width: 50%;
    display: inline-block;
}

.pricing-section {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #FFFFFF;
}

.pricing-intro h1 {
    font-size: 28px;
    color: #364655;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
}

.pricing-intro p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #8B92AB;
    margin-top: 10px;
    margin-bottom: 50px;
}

.pricing-details {
    padding: 0px 0 0 0;
}

.pricing-section .table-left,
.pricing-section .table-right {
    padding: 10%;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #f8f9fa;
    border: transparent;
    max-width: 400px;
    border-radius: 10px;
}

.table-left h3,
.table-right h3 {
    font-size: 21px;
    font-weight: 600;
    color: #505050;
    margin-bottom: 15px;
}

.table-left p,
.table-right p {
    font-size: 14px;
    font-weight: 500;
    color: #505050;
    line-height: 1.4;
}

.pricing-section .table-right {
    color: #FFFFFF !important;
    background-color: #25d366;
    border-radius: 10px;
}

.pricing-section .table-right h3,
.pricing-section .table-right p {
    color: #FFFFFF !important;
}

.table-left .icon,
.table-right .icon {
    padding: 50px 50px 40px 50px;
}

.table-left .icon img,
.table-right .icon img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.table-left .pricing-details span,
.table-right .pricing-details span {
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 600;
    color: #343434;
}

.table-left .pricing-details h2,
.table-right .pricing-details h2 {
    font-size: 21px;
    font-weight: 500;
    color: #505050;
    margin-bottom: 30px;
}

.table-left .pricing-details p,
.table-right .pricing-details p {
    font-size: 14px;
    font-weight: 300;
    color: #505050;
    letter-spacing: 1px;
    line-height: 1.4;
}

.table-right .pricing-details h2,
.table-right .pricing-details span {
    color: #FFFFFF !important;
}

.pricing-section .table-left {
    margin-top: 60px;
}

.pricing-section .table-right {
    margin-top: 20px;
}

.pricing-section .table-center {
    margin-top: 0;
}

.pricing-section .btn-action {
    background-color: #25d366;
    border-color: #25d366;
}

.btn-white {
    color: #555da8;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.pricing-section .btn-white:hover {
    color: #555da8;
}

.pricing-section .refund-txt {
    font-size: 12px;
    font-weight: 500;
    color: #505050;
}

.flex-split {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.flex-split .f-left {
    flex: 1 0 50%;
    background: #fff;
}

.flex-split .f-right {
    flex: 1 0 50%;
    background: linear-gradient(to right, rgb(0, 0, 0, 0), rgb(86, 61, 124, 0)), url(../images/app.jpg) top center no-repeat;
    background-size: contain;
}

.flex-split .f-right img {
    margin-top: 0;
}

.flex-split .f-left {
    padding: 50px;
}

.flex-split .f-left h2 {
    font-size: 28px;
    color: #364655;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 40px;
}

.flex-split .f-left p {
    font-size: 16px;
    color: #627382;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.flex-split .btn-action {
    margin-top: 15px;
    margin-bottom: 20px;
}

.flex-split .video-icon {
    position: absolute;
    top: 45%;
    left: 50%;
    right: 0;
    outline: none;
}

.flex-split .video-icon i {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    padding-left: 7px;
    text-decoration: none;
    text-align: center;
    color: #25d366;
    background: #FFFFFF;
    font-size: 34px;
    font-weight: normal;
    line-height: 1.55em;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.15);
}

.main-2 .flex-split .f-right {
    flex: 1 0 50%;
    background: url(../images/half_bg.jpg) center center no-repeat;
    background-size: cover;
}

.main-2 .flex-split .video-icon i {
    color: rgb(0, 0, 0, 0.9);
}

.features-flex {
    padding: 100px 0;
}

.flex-intro {
    margin-bottom: 50px;
    text-align: center;
}

.flex-intro h2 {
    font-size: 28px;
    font-weight: 600;
    color: #364655;
    line-height: 1.3;
    margin-bottom: 10px;
}

.flex-intro p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #959597;
    max-width: 630px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flex-inner {
    margin: 50px 0;
}

.flex-inner .f-image {
    padding: 0 35px;
}

.flex-inner .f-text {
    padding: 0 35px;
}

.flex-inner .f-text {
    flex: 1;
    text-align: center;
}

.flex-inner .f-text h2 {
    font-size: 24px;
    font-weight: 600;
    color: #364655;
    line-height: 1.3;
    margin-top: 20px;
}

.flex-inner .f-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #959597;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flex-inner .f-text .left-content a {
    font-family: "Google Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #8798ab;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.flex-inner .f-text .left-content a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20%;
    height: 1px;
    width: 50px;
    background: #8798ab;
    transition: 0.3s;
}

.flex-inner .f-text .left-content a:hover::after {
    width: 75px;
}

.flex-inner .f-text .left-content a:hover {
    text-decoration: none;
}

.flex-inner.flex-inverted .f-image {
    order: 1;
}

.ar-ft-single {
    padding: 100px 0;
}

.ar-feature {
    text-align: center;
    display: block;
    align-items: center;
    overflow: hidden;
}

.ar-feature .ar-list {
    flex: 1 0 40%;
    text-align: left;
}

.ar-feature .ar-image {
    flex: 1 0 40%;
    margin-left: 0;
}

.ar-list ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: 0;
}

.ar-list ul li {
    margin-bottom: 30px;
    overflow: hidden;
}

.ar-feature .ar-icon {
    float: left;
    width: 15%;
}

.ar-feature .ar-icon img {
    margin-top: 0;
    vertical-align: middle;
}

.ar-feature .ar-text {
    float: right;
    width: 85%;
}

.ar-feature .ar-text h3 {
    font-size: 21px;
    color: #364655;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
}

.ar-feature .ar-text p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    color: #959597;
}

.services-section {
    padding: 75px 0;
    background: rgb(246, 246, 253);
}

.service-intro {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.service-intro h2 {
    font-size: 24px;
    font-weight: 600;
    color: #364655;
    line-height: 1.3;
    margin-top: 20px;
}

.service-intro p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #959597;
    margin-top: 15px;
    margin-bottom: 15px;
}

.service-box {
    text-align: left;
    padding: 20px 20px;
    overflow: hidden;
}

.service-box h3 {
    font-size: 18px;
    font-weight: 600;
    color: #364655;
    line-height: 1.3;
}

.service-box p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #959597;
    margin-top: 10px;
    margin-bottom: 15px;
}

.service-box .service-icon {
    float: left;
    width: 15%;
}

.service-box .service-icon img {
    margin-top: 0;
    vertical-align: middle;
}

.service-box .service-text {
    float: right;
    width: 80%;
}

.yd-stats {
    padding: 10px 0;
    background: #FFFFFF;
}

.yd-stats .intro h4 {
    font-size: 19px;
    font-weight: 600;
    color: #25d366;
    line-height: 1.3;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.yd-stats .intro h2 {
    font-size: 28px;
    font-weight: 700;
    color: #364655;
    line-height: 1.2;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.yd-stats .intro p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #959597;
    max-width: 630px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.yd-stats .counter-up {
    margin-top: 50px;
}

.counter-icon {
    padding: 15px;
}

.counter-icon img {
    width: 80px;
    height: 80px;
}

.counter-text {
    margin: 10px 0;
}

.counter-up h3 {
    font-size: 24px;
    font-weight: 700;
    color: #364655;
}

.counter-text h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0.5em;
    color: #364655;
    color: #959597;
}

.yd-reviews {
    padding: 100px 0 100px 0;
    background: #FFFFFF;
    background: rgb(30, 166, 154, 0.08);
    background: #f6f6fd;
    background-size: cover;
}

.yd-reviews .intro {
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.yd-reviews .intro h1 {
    font-size: 28px;
    font-weight: 700;
    color: #364655;
    line-height: 1.2;
    margin-bottom: 20px;
}

.yd-reviews .intro p {
    font-size: 16px;
    font-weight: 500;
    color: #959597;
    line-height: 1.6;
    margin: 0 auto;
}

.yd-reviews .intro p:nth-child(4) {
    font-size: 13px;
}

.yd-reviews .intro a {
    color: #0000FF;
    text-decoration: none;
}

.yd-reviews .card-single {
    display: block;
}

.yd-reviews .card-single .review-text {
    background: #FFFFFF;
    padding: 50px;
    text-align: center;
}

.yd-reviews .card-single .review-attribution {
    padding-bottom: 30px;
    background: #FFFFFF;
}

.yd-reviews .card-single h1 {
    font-size: 16px;
    font-weight: 500;
    color: #364655;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 0;
}

.yd-reviews .card-single .review-attribution i {
    font-size: 13px;
    color: #ffd700;
}

.yd-reviews .card-single .review-attribution h2 {
    font-size: 15px;
    font-weight: 600;
    color: #364655;
    line-height: 1.4;
    margin-top: 5px;
}

.yd-reviews .card-single .review-attribution h6 {
    font-size: 12px;
    font-weight: 500;
    color: #97a6b5;
    line-height: 1.4;
}

.yd-reviews .card-single .review-attribution a {
    font-family: "Google Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #25d366;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.yd-reviews .card-single .review-attribution a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #25d366;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s 0s ease-in-out;
}

.yd-reviews .card-single .review-attribution a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.yd-reviews .card-single .review-attribution .review-img {
    text-align: center;
    margin-bottom: 20px;
}

.yd-reviews .card-single .review-attribution img {
    height: 120px;
    width: 120px;
    margin: 0 auto;
}

.cta-sm {
    padding: 100px 0 100px 0;
    background: rgb(30, 166, 154, 0.1);
    background: #f8f9fa;
}

.cta-sm .cta-content {
    max-width: 768px;
    margin: 0 auto;
}

.cta-sm h1 {
    font-size: 28px;
    font-weight: 600;
    color: #364655;
    line-height: 1.2;
    margin-bottom: 20px;
}

.cta-sm h4 {
    font-size: 13px;
    font-weight: 500;
    color: #25d366;
    margin-bottom: 15px;
}

.footer-sm {
    padding: 30px 0;
    background: rgb(30, 166, 154, 0.1);
    background: #f6f6fd;
    background: #555da8;
    background: #303c42;
    text-align: center;
}

.footer-sm .col-md-4:nth-child(even) {
    text-align: center;
}

.footer-sm .footer-logo {
    font-family: "Google Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 0;
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer-sm h6 {
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0;
    display: inline-block;
}

.footer-sm ul {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
    padding-left: 0px;
}

.footer-sm ul li {
    font-family: "Google Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

.footer-sm ul li a {
    font-size: 13px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-sm ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #FFFFFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s 0s ease-in-out;
}

.footer-sm ul li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.no-touch .footer-sm ul li a:hover {
    text-decoration: none;
    color: #000;
}

.bk-top {
    position: fixed;
    bottom: 60px;
    right: 30px;
    border-radius: 3px;
    z-index: 90;
    display: none;
    width: 45px;
    height: 45px;
    background: #25d366;
    color: #f2f2f0;
    border-radius: 50%;
    display: table;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
}

.bk-top-txt {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.back-to-top {
    font-family: "Google Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    transition: 200ms;
}

.back-to-top:hover {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
}

.back-to-top:focus {
    color: #FFFFFF;
}

@media only screen and (min-width: 767px) {
    .navbar.past-main .nav-item .nav-link {
        font-weight: 500;
        font-size: 17px;
    }
    a.nav-link.js-scroll-trigger.sing-in {
        padding: 7px 13px;
    }
    .alert {
        max-width: 360px;
        font-size: 15px;
        line-height: 20px;
    }
    .navbar-nav {
        margin-top: 0;
    }
    .navbar-nav .nav-item {
        margin-top: 0;
        margin-right: 15px;
        font-size: 17px;
        font-weight: 400;
    }
    .container-s {
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero h2 {
        margin-top: 70px;
        margin-bottom: 70px;
        font-size: 40px;
    }
    .features-intro h2 {
        font-size: 29px;
    }
    .yd-stats .intro h2 {
        font-size: 34px;
    }
    .yd-reviews .intro h1 {
        font-size: 34px;
    }
    .pricing-intro h1 {
        font-size: 34px;
    }
    .cta-sm h1 {
        font-size: 34px;
    }
    .flex-inner {
        position: relative;
        display: flex;
        align-items: center;
        margin: 50px 0;
    }
    .flex-inner .f-image {
        flex: 0 0 400px;
    }
    .flex-inner .f-text h1 {
        font-size: 32px;
    }
    .flex-inner .f-text p {
        font-size: 16px;
        font-weight: 500;
    }
    .hero {
        padding: 50px 0 0 0;
    }
    .hero .feature-img {
        margin-bottom: 0;
    }
    .flex-split {
        flex-direction: row;
    }
    .flex-split .f-left h2 {
        font-size: 34px;
    }
    .flex-split .f-left {
        padding: 50px;
    }
    .flex-split .f-right {
        flex: 1 0 50%;
    }
    .ar-feature {
        display: flex;
        align-items: center;
    }
    .ar-feature .ar-image {
        margin-left: 25px;
    }
    .service-intro h2 {
        font-size: 32px;
    }
    .service-intro p {
        font-size: 16px;
    }
    .service-box {
        padding: 30px 30px;
    }
    .counter-up h3 {
        font-size: 32px;
    }
    .footer-sm {
        text-align: left;
    }
    .footer-sm .footer-logo {
        margin-bottom: 0;
        font-size: 16px;
        display: block;
    }
    .footer-sm ul {
        list-style-type: none;
        text-align: right;
        margin-top: 0;
    }
    #email-error {
        left: 30%;
    }
    #response {
        left: 30%;
    }
    #chimp-email-error {
        left: 30%;
    }
}

@media only screen and (min-width: 480px) {
    .container-s {
        padding-left: 40px;
        padding-right: 40px;
    }
    .flex-inner .f-text {
        flex: 1;
        text-align: left;
    }
}

@media only screen and (max-width: 766px) {
    .flex-split .f-right {
        flex: 1 0 50%;
        height: 360px;
    }
    .hero-split .f-right {
        flex: 1 0 50%;
        height: 360px;
    }
    .flex-split .video-icon {
        display: none;
    }
    .flex-split .f-left {
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) {
    .iphonex {
        transform: rotateX(0deg) rotateZ(2deg) !important;
    }
    .hero img {
        margin-top: 0;
    }
    .hero .hero-content {
        /*margin-top: 80px !important;*/
        text-align: left;
    }
    .service-box {
        padding: 30px 50px;
    }
    .service-box .service-text {
        float: right;
        width: 85%;
    }
    .flex-split .f-left {
        padding: 80px 100px;
    }
    #email-error {
        left: 0;
    }
    #chimp-email-error {
        left: 0%;
    }
    #response {
        left: 0;
    }
}

.sing-in {
    background: #25d366;
    color: #FFFFFF !important;
    border: transparent solid 1px !important;
    border-radius: 50px;
    transition: 0.2s;
}

.video-icon.hidden-xs.text-center.position {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%;
}

img.logo {
    width: 50px;
    margin-right: 10px;
}

small {
    font-size: 12px;
    display: block;
}

.check {
    height: 20px;
    margin-right: 5px;
}

p {
    align-items: center;
}

p.item {
    border-bottom: 1px solid #dddede;
    width: 100%;
    text-align: center;
    margin: 0 0 0 0;
    padding: 9px;
    align-items: center;
}

p.item_green {
    border-bottom: 1px solid #01562147;
    width: 100%;
    text-align: center;
    margin: 0 0 0 0;
    padding: 9px;
    align-items: center;
    font-weight: bold;
}

.signup-form {
    margin: 0 auto;
    font-family: "Google Sans", sans-serif;
    font-size: 13px;
}

.sing-up {
    height: 45px;
    border: 0;
    border-radius: 30px;
    padding: 0 25px 0 25px;
    background: #25d366;
    font-family: "Google Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 30px rgb(255, 255, 255, 0.05);
    transition: 500ms;
}

@keyframes float {
    0% {
        transform: translatey(0);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0);
    }
}

.robot-float {
    overflow: hidden;
    transform: translatey(0);
    animation: float 6s ease-in-out infinite;
}

a.hero-singup {
    height: 45px;
    border: 0;
    border-radius: 30px;
    padding: 12px 25px 12px 25px;
    background: #25d366;
    font-family: "Google Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 30px rgb(255, 255, 255, 0.05);
    transition: 500ms;
}

a.hero-singup:hover {
    color: #fff;
    text-decoration: none;
}

.singup-div {
    line-height: 60px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #25d366;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: scale(1.45);
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse;
}

.nav-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    width: auto;
    height: auto;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    padding: 15px;
    margin: 0;
}

@media (max-width: 360px) {
    .nav-bottom {
        width: 320px;
    }
}

.whatsapp-button {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 51px;
    height: 50px;
    z-index: 8;
    transition: 0.3s;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 6px 0 rgb(68, 68, 68, 0.705);
}

.circle-anime {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    width: 51px;
    height: 50px;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    transition: 0.3s;
    background-color: #77bb4a;
    animation: pulse 1.2s 4s ease 4;
}

.popup-whatsapp {
    font-family: "Google Sans", sans-serif;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding: 10px;
    bottom: 85px;
    right: 6px;
    transition: 0.5s;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 1px 6px 0 rgb(68, 68, 68, 0.705);
    animation: slideInRight 0.6s 0s both;
}

.popup-whatsapp>div {
    margin: 5px;
}

@media (max-width: 680px) {
    .popup-whatsapp p {
        font-size: 0.9em;
    }
}

.popup-whatsapp>.content-whatsapp.-top {
    display: flex;
    flex-direction: column;
}

.popup-whatsapp>.content-whatsapp.-top p {
    color: #585858;
    font-family: "Google Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.popup-whatsapp>.content-whatsapp.-bottom {
    display: flex;
    flex-direction: row;
}

.closePopup {
    position: absolute;
    right: 10px;
    top: 7px;
    width: 28px;
    height: 28px;
    margin: 0 0 15px 0;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #f76060;
    box-shadow: 1px 1px 2px 0 rgb(68, 68, 68, 0.705);
}

.closePopup:hover {
    background-color: #f71d1d;
    transition: 0.3s;
}

.send-msPopup img {
    width: 30px;
}

.send-msPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 7px;
    color: #fff;
    background-color: #2cb742;
    margin: 0 0 0 5px;
    padding: 0 7px 0 7px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px 0 rgb(68, 68, 68, 0.705);
}

.send-msPopup:hover {
    background-color: #1e7d2d;
    transition: 0.3s;
}

.is-active-whatsapp-popup {
    display: flex;
    animation: slideInRight 0.6s 0s both;
}

input.whats-input[type="text"] {
    width: 250px;
    height: 40px;
    box-sizing: border-box;
    border: #ffffff solid 0;
    border-radius: 20px;
    font-size: 1em;
    background-color: #f9f9f9;
    padding: 0 0 0 10px;
    transition: width 0.3s ease-in-out;
    outline: none;
    transition: 0.3s;
}

@media (max-width: 420px) {
    input.whats-input[type="text"] {
        width: 225px;
    }
}

input.whats-input::placeholder {
    color: rgb(68, 68, 68, 0.705);
    opacity: 1;
}

input.whats-input[type="text"]:focus {
    background-color: #f8f8f8;
    transition: width 0.3s ease-in-out;
    transition: 0.3s;
}

.icon-whatsapp-small {
    width: 24px;
    height: 24px;
}

.icon-whatsapp {
    width: 45px;
}

.icon-font-color {
    color: #ffffff;
}

.icon-font-color--black {
    color: #333333;
}

img.mp {
    background: #fff;
    border-radius: 10px;
    margin-top: 10px;
}

.flash {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
    border-radius: 4px;
}

.flash-success {
    border: #1EDD88 solid 2px;
}

.flash-warning {
    border: #FFC65A solid 2px;
}

.flash-danger {
    border: #FD1015 solid 2px;
}

.alert-email.flash.flash-danger.alert.alert-dismissible.fade.hide {
    display: none;
}

.mt-50 {
    margin-top: 50px;
}

.element-search.autosuggest-search-activator.search-orders {
    width: 100% !important;
}

.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
    touch-action: auto;
}

.mt-20 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #5f6368;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.video {
    border-radius: 8px;
    max-width: 400px;
}

#wrapper {
    text-align: center;
}

#iphone {
    display: none;
    border-radius: 50px;
    position: absolute;
    background: none;
    box-shadow: none;
}

#side {
    background: #CDD0D5;
    width: 393px;
    height: 780px;
    border-top-left-radius: 77px;
    border-bottom-left-radius: 49px;
    border-bottom-right-radius: 86px;
    border-top-right-radius: 70px;
    position: absolute;
    top: 5px;
    left: -26px;
    box-shadow: 0 0 15px 9px #3D3E42 inset;
}

#front {
    width: 362px;
    height: 750px;
    border-radius: 49px;
    position: absolute;
    left: 5px;
    top: 5px;
    box-shadow: 0 0 0 4px #000 inset, 0 0 3px 0 #555, -3px 2px #222, -5px 5px #000, -7px 6px 1px #E0E0E0, -7px 6px 9px #6D6D6D;
    transform: translateZ(1px);
}

#front-cover {
    width: 344px;
    height: 734px;
    background: #000;
    border-radius: 39px;
    position: absolute;
    top: 8px;
    left: 9px;
}

#home {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: linear-gradient(32deg, #666, #000, #666);
    top: 684px;
    left: 160px;
}

#home div {
    background: #000;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 3px;
    top: 3px;
}

#camera {
    width: 11px;
    height: 11px;
    background: #000;
    position: absolute;
    top: 35px;
    left: 124px;
    border-radius: 50%;
    box-shadow: -5px 2px 9px -2px #666 inset;
}

#camera div {
    width: 6px;
    height: 6px;
    background: radial-gradient(#E1E4F5, #0D2B69 33%);
    background-position: -1px -1px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
}

#speaker {
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: #555;
    position: absolute;
    top: 39px;
    left: 156px;
    box-shadow: 0 0 4px #222 inset;
}

#volume {
    height: 128px;
    width: 11px;
    border-radius: 10px;
    position: absolute;
    background: #F9F9FA;
    top: 171px;
    left: -20px;
    transform: rotateY(95deg);
    transform-style: preserve-3d;
    box-shadow: 4px 0 8px 1px #292A2F inset, -1px 0 2px #D5D5D5;
}

#volume div {
    width: 8px;
    height: 55px;
    background: #BBBCC0;
    border-radius: 10px;
    position: absolute;
    box-shadow: -1px 1px #eee, -1px 3px #777, -3px 3px #505057, -3px 0 3px #909197 inset;
}

#volume div:first-child {
    top: 2px;
    left: 4px;
}

#volume div:last-child {
    top: 69px;
    left: 4px;
}

#toggler {
    height: 34px;
    width: 8px;
    border-radius: 10px;
    position: absolute;
    background: #2B2C31;
    top: 105px;
    left: -20px;
    transform: rotateY(95deg);
    transform-style: preserve-3d;
    box-shadow: 4px 0 8px 1px #292A2F inset, -1px 0 2px #D5D5D5;
}

#toggler div {
    width: 4px;
    height: 31px;
    background: #BBBCC0;
    border-radius: 10px;
    position: absolute;
    box-shadow: -1px 1px #eee, -2px 3px #777, -3px 3px #505057, -3px 0 3px #909197 inset;
    top: -1px;
    left: 3px;
}

#aux {
    width: 19px;
    height: 19px;
    background: #3B3B3B;
    border-radius: 50%;
    transform: rotateX(90deg) translateZ(1px);
    transform-style: preserve-3d;
    position: absolute;
    top: 766px;
    left: 45px;
    box-shadow: 6px -3px 10px 1px #000 inset, 1px 0 1px #C7C7C7;
}

#lightning {
    width: 48px;
    height: 12px;
    border-radius: 10px;
    background: #3F3F3F;
    transform: rotateX(90deg) translate3d(0, 1px, 0);
    top: 771px;
    position: absolute;
    left: 139px;
    box-shadow: -1px 1px 0 2px #8E8F94 inset, 0 0 0 1px #515258, 0 -3px 10px #000 inset, 1px 0 0 1px #DADADA;
}

#bottom-speaker {
    position: absolute;
    transform: rotateX(90deg);
    top: 781px;
    left: 70px;
}

#bottom-speaker div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #6C6D72;
    position: absolute;
    box-shadow: 1px -1px 4px 1px #000 inset, 1px 0 #DADADA;
}

#bottom-speaker div:nth-child(2) {
    left: 150px;
}

#bottom-speaker div:nth-child(3) {
    left: 162px;
}

#bottom-speaker div:nth-child(4) {
    left: 174px;
}

#bottom-speaker div:nth-child(5) {
    left: 186px;
}

#bottom-speaker div:nth-child(6) {
    left: 198px;
}

#bottom-speaker div:nth-child(7) {
    left: 210px;
}

#skrews {
    position: absolute;
    top: 780px;
    left: 120px;
    transform: rotateX(90deg);
}

#skrews div {
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgb(95, 92, 92);
    border-radius: 50%;
    top: 0;
    z-index: 4;
    box-shadow: 0 0 0 2px #999AA0 inset, 1px 0 #444;
}

#skrews div:last-child {
    left: 70px;
}

#lines {
    position: absolute;
    top: 82px;
    left: -32px;
}

#lines>div:last-child {
    top: 634px;
}

#lines div {
    width: 7px;
    height: 11px;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: 100% 100%;
}

#lines>div {
    transform: rotateY(90deg);
}

#lines>div>div {
    transform: rotateY(17deg);
    left: -6px;
}

#lines>div>div>div {
    transform: rotateY(17deg);
    left: -6px;
}

#shadow {
    width: 350px;
    height: 755px;
    background: black;
    position: absolute;
    top: 5px;
    left: 0;
    transform: translateZ(-17px);
    transform-style: preserve-3d;
    box-shadow: 0 0 10px 15px #000;
    opacity: 0.4;
    border-top-left-radius: 76px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 56px;
}

#screen {
    background: linear-gradient(#A1E5E5, #1987AA);
    width: 336px;
    height: 589px;
    position: absolute;
    top: 80px;
    left: 13px;
    font-weight: 300;
    color: #fff;
    background-size: 200% 100%;
    overflow: hidden;
}

#time {
    font-size: 86px;
    left: 57px;
    top: 37px;
    position: absolute;
}

#date {
    font-size: 20px;
    left: 85px;
    top: 130px;
    position: absolute;
}

#bottom {
    width: 37px;
    height: 7px;
    border-radius: 5px;
    background: #2AB1DB;
    position: absolute;
    top: 573px;
    left: 149px;
}

#top {
    width: 37px;
    height: 7px;
    border-radius: 5px;
    background: #D7FFFF;
    position: absolute;
    top: 10px;
    left: 149px;
}

#slide {
    position: absolute;
    top: 489px;
    left: 88px;
    font-size: 28px;
    color: #2AB1DB;
    background-size: 350px;
    animation: slide 5s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 100px 0;
    }
    40% {
        background-position: 440px 0;
    }
    100% {
        background-position: 440px 0;
    }
}

#slide div {
    transform: rotate(135deg);
    border-left: 2px solid #2AB1DB;
    border-top: 2px solid #2AB1DB;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -29px;
    top: 10px;
}

#signal {
    position: absolute;
    top: 9px;
    left: 7px;
}

#signal div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    border: #fff solid 1px;
    position: absolute;
}

#signal div:nth-child(2) {
    left: 9px;
}

#signal div:nth-child(3) {
    left: 18px;
}

#signal div:nth-child(4) {
    left: 27px;
}

#signal div:nth-child(5) {
    left: 36px;
    background: none;
}

#battery {
    position: absolute;
    top: 3px;
    left: 270px;
    font-size: 13px;
}

#battery>div:last-child {
    width: 27px;
    height: 9px;
    border: #fff solid 1px;
    position: absolute;
    top: 4px;
    left: 27px;
    border-radius: 2px;
}

#battery div div:first-child {
    width: 21px;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 1px;
    left: 1px;
}

#battery div div:last-child {
    width: 1px;
    height: 6px;
    background: #FFF;
    position: absolute;
    left: 29px;
    top: 2px;
    border-radius: 0 1px 1px 0;
}

#fabrizio {
    border-top: 100px solid black;
    border-right: 63px solid transparent;
    width: 0;
    transform: scale(0.33);
    transform-origin: 0 0;
    margin: 20px;
    opacity: 0.6;
    position: absolute;
    bottom: -130px;
}

#fabrizio:before {
    background: black;
    width: 20px;
    height: 30px;
    content: '';
    display: block;
    transform: skewX(-32deg);
    position: relative;
    top: -65px;
    left: 29px;
}

#fabrizio:after {
    background: black;
    width: 40px;
    height: 36px;
    content: '';
    display: block;
    transform: skewX(-32deg);
    position: relative;
    top: -130px;
    left: 49px;
}

#circle {
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 50%;
    box-shadow: 160px 335px rgb(255, 255, 255, 0.1), 120px 275px 0 12px rgb(255, 255, 255, 0.1), 60px 355px 0 23px rgb(255, 255, 255, 0.1), 230px 445px 0 -8px rgb(255, 255, 255, 0.1), 60px 125px rgb(255, 255, 255, 0.1), 260px 145px 0 12px rgb(255, 255, 255, 0.1), 300px 145px 0 23px rgb(255, 255, 255, 0.1), 100px 85px 0 -8px rgb(255, 255, 255, 0.1), 50px 155px rgb(255, 255, 255, 0.1), 150px 273px 0 -2px rgb(255, 255, 255, 0.1), 50px 555px 0 23px rgb(255, 255, 255, 0.1), 180px 5px 0 -8px rgb(255, 255, 255, 0.1);
    animation: circle 30s linear infinite alternate;
}

@keyframes circle {
    0% {
        box-shadow: 160px 335px rgb(255, 255, 255, 0.1), 120px 275px 0 12px rgb(255, 255, 255, 0.1), 60px 355px 0 23px rgb(255, 255, 255, 0.1), 230px 445px 0 -8px rgb(255, 255, 255, 0.1), 60px 125px rgb(255, 255, 255, 0.1), 260px 145px 0 12px rgb(255, 255, 255, 0.1), 300px 145px 0 23px rgb(255, 255, 255, 0.1), 100px 85px 0 -8px rgb(255, 255, 255, 0.1), 350px 555px rgb(255, 255, 255, 0.1), 350px 273px 0 -2px rgb(255, 255, 255, 0.1), 150px 355px 0 23px rgb(255, 255, 255, 0.1), 180px 205px 0 -8px rgb(255, 255, 255, 0.1), 0 0 0 -8px rgb(255, 255, 255, 0.1), 100px 555px 0 10px rgb(255, 255, 255, 0.1);
    }
    100% {
        box-shadow: 70px 10px rgb(255, 255, 255, 0.1), 300px 205px 0 12px rgb(255, 255, 255, 0.1), 0 155px 0 23px rgb(255, 255, 255, 0.1), 330px 45px 0 -8px rgb(255, 255, 255, 0.1), 460px 325px rgb(255, 255, 255, 0.1), 0 445px 0 12px rgb(255, 255, 255, 0.1), 300px 145px 0 23px rgb(255, 255, 255, 0.1), 100px 85px 0 -8px rgb(255, 255, 255, 0.1), 50px 155px rgb(255, 255, 255, 0.1), 150px 273px 0 -2px rgb(255, 255, 255, 0.1), 0 555px 0 23px rgb(255, 255, 255, 0.1), 180px 5px 0 -8px rgb(255, 255, 255, 0.1), 300px 555px 0 -8px rgb(255, 255, 255, 0.1), 350px 355px 0 10px rgb(255, 255, 255, 0.1);
    }
}

#reminder {
    position: absolute;
    top: 230px;
    left: 40px;
    width: 296px;
    height: 50px;
    border-top: 1px solid #86E2F0;
    border-bottom: 1px solid #86E2F0;
    line-height: 50px;
    font-weight: 400;
    opacity: 0;
    animation: reminder 0.1s 15s linear forwards;
}

#reminder div:first-child {
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    position: absolute;
    top: 18px;
}

#reminder div:nth-child(2) {
    position: absolute;
    left: 30px;
}

#reminder div:last-child {
    position: absolute;
    left: 251px;
    font-size: 11px;
    color: #86E2F0;
}

@keyframes reminder {
    100% {
        opacity: 1;
    }
}

#awwwards {
    position: absolute;
    bottom: 30px;
    left: 70px;
}

#awwwards a {
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #888;
}

#coolors {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #888;
    animation: coolors 1s infinite;
    opacity: 1;
}

@keyframes coolors {
    50% {
        right: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .video {
        border-radius: 0 !important;
    }
    #wrapper {
        background: none !important;
        height: calc(100vh + 50px);
    }
    #iphone {
        display: block;
        height: 760px;
        width: 372px;
        border-radius: 50px;
        position: absolute;
        background: none;
        box-shadow: none;
        left: 120px;
        top: -80px;
        transform: rotateX(54deg) rotateZ(-46deg);
        transform-style: preserve-3d;
    }
}

@media only screen and (min-width: 992px) {
    .hero h2 {
        margin-top: 0px;
        font-size: 45px;
        margin-bottom: 30px;
    }
    .video {
        border-radius: 0 !important;
    }
    #wrapper {
        background: none !important;
        height: calc(100vh + 25px);
    }
    #iphone {
        display: block;
        height: 760px;
        width: 372px;
        border-radius: 50px;
        position: absolute;
        background: none;
        box-shadow: none;
        left: 100px;
        top: 30px;
        transform: rotateX(54deg) rotateZ(-46deg);
        transform-style: preserve-3d;
    }
}

h4 {
    font-size: 34px;
    font-weight: 700;
    color: #364655;
    line-height: 1.3;
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.intro {
    padding-bottom: 20px;
}

.alert {
    font-size: 14px;
    line-height: 17px;
    padding: 8px 8px;
}

span.time {
    font-size: 10px;
    margin: -5px -10px;
    position: absolute;
    bottom: 5px;
    right: 16px;
}

.instagram {
    text-transform: inherit !important;
    cursor: pointer;
    padding: 9px 10px;
    border-radius: 50px;
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    background: #f09433 !important;
    background: -moz-linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
    background: -webkit-linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
    background: linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1) !important;
}

.card-img {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto
}

.various-img img {
    height: 80px;
    border-radius: 6px;
    padding: 0px 0px 4px 1px;
}

.various-img {
    max-width: 163px;
}

.various-img span {
    position: absolute;
    bottom: 56px;
    right: 22px;
    font-size: 22px;
    font-weight: 900;
    color: #fff;
    text-shadow: 0px 0px 17px #000;
}

.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.screen-container {
    position: inherit !important;
}

.conversation .conversation-container {
    height: calc(100vh - 98px) !important;
    max-height: 552px;
    overflow: hidden;
}

.conversation {
    height: 100% !important;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

span.box-bonus {
    background: #00c84f;
    color: #fff;
    padding: 5px 10px 5px 50px;
    border-radius: 5px;
}

#typed {}

.quotes {
    display: none;
}

.features-intro h2 {
    margin-bottom: 30px;
}

.ajust-row {
    margin-right: -20px;
    margin-left: -20px;
}

@keyframes bounce-background {
    from {
        background-position: top;
    }
    50% {
        background-position: bottom;
    }
    to {
        background-position: top;
    }
}

@keyframes animatedBackground {
    from {
        background-position: top;
    }
    50% {
        background-position: bottom;
    }
    to {
        background-position: top;
    }
}

#screenin {
    /* animation-name: animatedBackground;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
   
    -webkit-animation-name: animatedBackground;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;*/
    background-image: url('/assets.site/images/home-slide.webp');
    height: 100%;
    background-size: cover;
    width: 100%;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 480s linear infinite alternate;
}


/*IPHONE X*/

main {
    height: 40em;
    display: flex;
    flex: 1;
    background: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.title {
    color: rgba(255, 255, 255, 0.07);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    transition: opacity 0.4s;
}

.title p {
    font-size: 14vw;
}

.title .title__svg {
    width: 17vw;
    height: 34vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title .title__svg video {
    width: 95%;
    height: 95%;
    object-fit: cover;
}

.title .title__svg svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.title .title__svg svg text {
    font-family: 'Major Mono Display', monospace;
    text-transform: uppercase;
    transform-origin: center center;
    font-size: 3em;
}

.title .title__svg svg rect {
    fill: #fff;
}

.title .title__svg svg>rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
    fill: #000;
}

.iphonex {
    width: 20em;
    height: 40em;
    display: flex;
    position: absolute;
    transform: rotate(0deg);
    transition: all cubic-bezier(0.36, 0.41, 0.38, 1) 0.4s;
    z-index: 10;
}

.iphonex .back {
    display: flex;
    flex: 1;
    margin: 0.2em;
    border-radius: 3em;
    position: absolute;
    z-index: 1;
    width: calc(100% - 0.6em);
    height: calc(100% - 0.6em);
    top: 0;
    right: 0;
    box-shadow: 0 0 10em rgba(70, 70, 70, 0.1);
    transition: all 0.4s;
}

.iphonex:hover .back {
    box-shadow: 0 0 5em rgba(70, 70, 70, 0.4);
}

.iphonex .front {
    display: flex;
    flex: 1;
    background-color: #292c2d;
    border-radius: 3em;
    margin: 0.2em;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.1em 0.4em rgba(255, 255, 255, 0.1) inset;
    z-index: 10;
}

.iphonex .screen {
    display: flex;
    flex: 1;
    background-color: #191b1c;
    margin: 0.4em;
    border-radius: 2.6em;
    border: solid 0.2em #121415;
    position: relative;
    z-index: 10;
}

.iphonex .front__line {
    background: linear-gradient(to right, #515455, #454748, #515455);
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 0.5em;
    top: 10%
}

.iphonex .front__line-second {
    top: 90%
}

.iphonex .screen .screen__view {
    display: flex;
    flex: 1;
    margin: 0.6em;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.iphonex .screen .screen__front {
    position: absolute;
    width: 50%;
    background-color: #191b1c;
    height: 1.8em;
    border-radius: 0 0 0.9em 0.9em;
    right: 25%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.3em;
    box-sizing: border-box;
    margin-top: 0.5em;
    z-index: 999;
}

.iphonex .screen .screen__front::after,
.iphonex .screen .screen__front::before {
    content: "";
    width: 10%;
    height: 50%;
    position: absolute;
    background: transparent;
    top: -0.3em;
    border: solid 0.4em #191b1c;
    border-bottom: 0;
}

.iphonex .screen .screen__front::after {
    left: 0.4em;
    transform: translateX(-100%);
    border-left: 0;
    border-radius: 0 0.7em 0 0;
}

.iphonex .screen .screen__front::before {
    right: 0.4em;
    transform: translateX(100%);
    border-right: 0;
    border-radius: 0.7em 0 0 0;
}

.iphonex .screen .screen__front-speaker {
    background: #070808;
    border-radius: 0.2em;
    height: 0.35em;
    width: 28%;
}

.iphonex .screen .screen__front-camera {
    height: 0.35em;
    width: 0.35em;
    background: #272727;
    margin-left: .5em;
    border-radius: 50%;
    margin-right: -0.8em;
}

.iphonex .phoneButtons {
    width: 1em;
    height: 6em;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to bottom, #212324, #2b2e31, #212324);
    box-shadow: 0 0 0.4em rgba(255, 255, 255, 0.1) inset;
    border-radius: 2px;
}

.iphonex .phoneButtons-right {
    right: 0;
    top: 30%;
}

.iphonex .phoneButtons-left {
    left: 0;
    top: 15%;
    height: 3em;
}

.iphonex .phoneButtons-left2 {
    left: 0;
    top: 25%;
    height: 5em;
}

.iphonex .phoneButtons-left3 {
    left: 0;
    top: calc(25% + 6em);
    height: 5em;
}


/*
@media (max-height: 40em){
	body{
		font-size: 70%;
	}
	.iphonex {
		width: 48vh;
		height: 94vh;
	}
	.title .title__svg svg text{
		font-size: 4em;
	}
}*/

.screen__view video {
    width: 100%;
}

div#chatWrapper {
    background: #e5e5e540;
}

iframe>div.messageBody.clearfix>div.messageWrapper>div {
    font-size: 17px !important;
    padding: 10px 13px;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 10%);
}

iframe.Papercups-chatWindowContainer {
    max-height: 100% !important;
    max-width: 100% !important;
    height: 100%;
    width: 100%;
    z-index: 21474830009 !important;
    top: 0;
    left: 0px !important;
    border-radius: 0px !important;
}

.hide {
    display: none;
}